.plant-card-header {
  font-size: 14px;
}

.plant-card-body {
  font-size: 13px;
}

.plant-card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 5px rgba(0,0,0,.12), 0 4px 4px rgba(0,0,0,.06);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.simple-plant-card {
  border: none;
}

.border-stub {
  font-size: 15px;
  border-radius: 5px;
  background: #F8F8F8;
  border: 1px solid #DDDFDF;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.border-stub:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 4px rgba(0,0,0,.12), 0 3px 3px rgba(0,0,0,.06);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.plant-color-tooltip {
  display: inline;
  position: relative;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}

.plant-guide-header {
  font-size: 38px;
  padding-bottom: 14px;
}

.plant-guide-header:after {
  border: 1px solid #AAAAAA;
  content: ' ';
  display: block;
}

.toc-title {
  font-size: 18px;
}

.toc-heading {
  font-size: 16px;
}

.toc-heading:active {
  color: #D8D8D8;
}

.toc-list {
  list-style-type: none;
  padding-inline-start: 15px;
  border-left: 1px solid #D8D8D8;
}

.btn-discreet {
  font-size: 12px;
  color: #494b4d !important;
  border: none;
  background-color: transparent;
}

.btn-discreet:hover {
  background-color: #D8D8D8 !important;
}

.btn-discreet-md {
  font-size: 16px;
  color: #494b4d !important;
  border: none;
  background-color: transparent;
}

.btn-discreet-md:hover {
  background-color: #D8D8D8 !important;
}

.btn-discreet-md:disabled {
  background-color: #AAAAAA;
}

.btn-discreet-lg {
  font-size: 22px;
  color: #494b4d !important;
  border: none;
  background-color: transparent;
}

.btn-discreet-lg:hover {
  background-color: #D8D8D8 !important;
}

.btn-discreet-lg:disabled {
  background-color: #AAAAAA;
}

.search-zone:after {
  content: "Choose zone instead" !important;
}

.search-zip:after {
  content: "Enter zipcode instead" !important;
}

.search-sn:after {
  content: "Search by scientific name" !important;
}

.search-cn:after {
    content: "Search by common name" !important;
}

.search-busy:after {
  content: "Searching..." !important;
}

.search-ready:after {
  content: "Search" !important;
}

.show-more-busy:after {
  content: "Searching..." !important;
}

.show-more-ready:before {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
}

.show-more-ready:after {
  content: " Show more" !important;
}

.no-more:after {
  content: " End of results";
}

.btn-spinner:before {
  content: "\f110";
  display: inline-block;
  vertical-align: middle;
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  animation: fa-spin 2s linear infinite;
  opacity: 0;
  width: 0;
}

.btn-spinner:disabled:before {
  opacity: 1;
  width: auto;
}

.offcanvas-title:before {
  border: 1px solid #AAAAAA;
  content: ' ';
}

/*
.filter-option {
  font-size: 14px;
}
*/
.control-label {
  margin-bottom: 0.2em !important;
}

.shiny-input-container {
  margin-bottom: 0.4em !important;
}

.apply-filters-busy:after {
  content: "Applying filters..." !important;
}

.apply-filters-ready:after {
  content: "Apply filters" !important;
}

.filters-applied:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
}

.filters-applied:after {
  content: " Filters applied" !important;
}

.no-filters:before {
  content: "\58";
  font-family: "Font Awesome 5 Free";
}

.no-filters:after {
  content: " No filters selected" !important;
}

.fa-triangle-exclamation {
  color: #C41E3A;
}

.fa-circle-exclamation {
  color: #FFBF00;
}

.btn-add-plant:before {
  content: "\2b";
  font-family: "Font Awesome 5 Free";
}

.btn-remove-plant:before {
  content: "\58";
  font-family: "Font Awesome 5 Free";
}

.btn-remove-plant:hover {
  color: white !important;
  background-color: #494b4d !important;
}

.add-plant-text:before {
  content: " Add to border";
}

.remove-plant-text:before {
  content: " Remove";
}

.btn-stub {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  color: #AAAAAA;
}

.btn-stub:hover {
  color: #919191;
  border-color: transparent !important;
  transform: scale(1.1);
  transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.btn-stub-add-plant:before {
  content: "\2b";
  font-size: 18px;
  font-family: "Font Awesome 5 Free";
  color: #AAAAAA;
}

.btn-stub-remove-plant:before {
  content: "\58";
  font-size: 18px;
  font-family: "Font Awesome 5 Free";
  color: #AAAAAA;
}
