.plant-card-header {
  font-size: 14px;
}

.plant-card-body {
  font-size: 13px;
}

.plant-card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 5px rgba(0,0,0,.12), 0 4px 4px rgba(0,0,0,.06);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.simple-plant-card {
  border: none;
}

.border-stub {
  font-size: 15px;
  border-radius: 5px;
  background: #F8F8F8;
  border: 1px solid #DDDFDF;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.border-stub:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 4px rgba(0,0,0,.12), 0 3px 3px rgba(0,0,0,.06);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}


.border-stub-x {
  padding-right: 10px;
  color: #AAAAAA;
}

.border-stub-x:hover {
  color: #919191;
  transform: scale(1.1);
  transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.plant-color-tooltip {
  display: inline;
  position: relative;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}

.plant-guide-header {
  font-size: 38px;
  padding-bottom: 14px;
}

.plant-guide-header:after {
  border: 1px solid #AAAAAA;
  content: ' ';
  display: block;
}

.toc-title {
  font-size: 18px;
}

.toc-heading {
  font-size: 16px;
}

.toc-heading:active {
  color: #D8D8D8;
}

.toc-list {
  list-style-type: none;
  padding-inline-start: 15px;
  border-left: 1px solid #D8D8D8;
}

.btn-discreet {
  font-size: 12px;
  color: #494b4d !important;
  border: none;
  background-color: transparent;
}

.btn-discreet:hover {
  background-color: #D8D8D8 !important;
}

.search-sn:after {
  content: "Search by scientific name" !important;
}

.search-cn:after {
    content: "Search by common name" !important;
}

.search-busy:after {
  content: "Searching..." !important;
}

.search-ready:after {
  content: "Search" !important;
}

.show-more-busy:after {
  content: "Finding more plants..." !important;
}

.show-more-ready:after {
  content: "Show more" !important;
}

.btn-spinner:before {
  content: "\f110";
  display: inline-block;
  vertical-align: middle;
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  animation: fa-spin 2s linear infinite;
  opacity: 0;
  width: 0;
}

.btn-spinner:disabled:before {
  opacity: 1;
  width: auto;
}

.offcanvas-title:before {
  border: 1px solid #AAAAAA;
  content: ' ';
}

/*
.filter-option {
  font-size: 14px;
}
*/
.control-label {
  margin-bottom: 0.2em !important;
}

.shiny-input-container {
  margin-bottom: 0.4em !important;
}

.apply-filters-busy:after {
  content: "Applying filters..." !important;
}

.apply-filters-ready:after {
  content: "Apply filters" !important;
}


